# Data Loading

In [49]:
from src.data_ingest import DataIngest

if __name__ == "__main__":
    main_data_folder = "Pickup_and_delivery_data"
  
    delivery_folder = main_data_folder + "/" + "delivery" + "/"
    weather_folder = main_data_folder + "/" + "weather" + "/" 

    delivery_file = delivery_folder+"delivery_yt.csv"
    weather_file = weather_folder + "yt_weather.csv"
##
    loader = DataIngest(delivery_file, weather_file)

    enriched_df = loader.enrich_with_weather()
    enriched_df = loader.enrich_with_traffic_and_vehicles()

    print("✅ Enriched Delivery Dataset with Weather, Traffic, and Vehicle Labels:")
    print(enriched_df.info())

✅ Enriched Delivery Dataset with Weather, Traffic, and Vehicle Labels:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206431 entries, 0 to 206430
Data columns (total 27 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  206431 non-null  int64
 1   region_id                 206431 non-null  int64
 2   city                      206431 non-null  object
 3   courier_id                206431 non-null  int64
 4   lng                       206431 non-null  float64
 5   lat                       206431 non-null  float64
 6   aoi_id                    206431 non-null  int64
 7   aoi_type                  206431 non-null  int64
 8   accept_time               206431 non-null  object
 9   accept_gps_time           206431 non-null  object
 10  accept_gps_lng            204009 non-null  float64
 11  accept_gps_lat            204009 non-null  float64
 12  delivery_time             206431 non-null  datetime64[ns]
 13  delivery_gps_time         206431 non-null  object
 14  delivery_gps_lng          206431 non-null  float64
 15  delivery_gps_lat          206431 non-null  float64
 16  ds                        206431 non-null  int64
 17  time                      206431 non-null  datetime64[ns]
 18  relative_humidity_2m (%)  206431 non-null  int64
 19  cloud_cover_low (%)       206431 non-null  int64
 20  cloud_cover (%)           206431 non-null  int64
 21  wind_speed_10m (km/h)     206431 non-null  float64
 22  precipitation (mm)        206431 non-null  float64
 23  is_day ()                 206431 non-null  int64
 24  Weather_Label             206431 non-null  object
 25  Traffic_Label             206431 non-null  object
 26  Vehicle_Type              206431 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(10), object(7)
memory usage: 42.5+ MB
None

In [3]:
enriched_df.head()

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,...,time,relative_humidity_2m (%),cloud_cover_low (%),cloud_cover (%),wind_speed_10m (km/h),precipitation (mm),is_day (),Weather_Label,Traffic_Label,Vehicle_Type
0,3081487,95,Yantai,4109,119.98764,37.16667,7205,14,05-01 07:52:00,05-01 07:52:00,...,2023-05-01 08:00:00,21,0,11,19.6,0.0,1,Sandstorms,High,van
1,3994340,95,Yantai,1676,119.94403,37.16921,23164,14,05-01 08:08:00,05-01 08:08:00,...,2023-05-01 08:00:00,21,0,11,19.6,0.0,1,Sandstorms,High,bicycle
2,4398242,95,Yantai,1610,119.93656,37.17620,28240,14,05-01 07:56:00,05-01 07:56:00,...,2023-05-01 08:00:00,21,0,11,19.6,0.0,1,Sandstorms,High,van
3,2763441,95,Yantai,3798,119.94894,37.16978,55358,14,05-01 08:00:00,05-01 08:00:00,...,2023-05-01 08:00:00,21,0,11,19.6,0.0,1,Sandstorms,High,bicycle
4,2527977,95,Yantai,1676,119.94244,37.17470,36047,14,05-01 08:07:00,05-01 08:07:00,...,2023-05-01 08:00:00,21,0,11,19.6,0.0,1,Sandstorms,High,bicycle

In [6]:
enriched_df.Weather_Label.value_counts()

Weather_Label
Cloudy        107820
Windy          88716
Sunny           4924
Sandstorms      4018
Stormy           927
Fog               26
Name: count, dtype: int64

In [7]:
enriched_df.Traffic_Label.value_counts()

Traffic_Label
Medium    179205
Jam        25047
Low         1106
High        1073
Name: count, dtype: int64

In [50]:
import pandas as pd

amazon = pd.read_csv("Pickup_and_delivery_data/delivery/amazon_delivery.csv")

In [9]:
amazon.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys

In [15]:
enriched_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206431 entries, 0 to 206430
Data columns (total 27 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  206431 non-null  int64
 1   region_id                 206431 non-null  int64
 2   city                      206431 non-null  object
 3   courier_id                206431 non-null  int64
 4   lng                       206431 non-null  float64
 5   lat                       206431 non-null  float64
 6   aoi_id                    206431 non-null  int64
 7   aoi_type                  206431 non-null  int64
 8   accept_time               206431 non-null  object
 9   accept_gps_time           206431 non-null  object
 10  accept_gps_lng            204009 non-null  float64
 11  accept_gps_lat            204009 non-null  float64
 12  delivery_time             206431 non-null  datetime64[ns]
 13  delivery_gps_time         206431 non-null  object
 14  delivery_gps_lng          206431 non-null  float64
 15  delivery_gps_lat          206431 non-null  float64
 16  ds                        206431 non-null  int64
 17  time                      206431 non-null  datetime64[ns]
 18  relative_humidity_2m (%)  206431 non-null  int64
 19  cloud_cover_low (%)       206431 non-null  int64
 20  cloud_cover (%)           206431 non-null  int64
 21  wind_speed_10m (km/h)     206431 non-null  float64
 22  precipitation (mm)        206431 non-null  float64
 23  is_day ()                 206431 non-null  int64
 24  Weather_Label             206431 non-null  object
 25  Traffic_Label             206431 non-null  object
 26  Vehicle_Type              206431 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(10), object(7)
memory usage: 42.5+ MB

In [16]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43685 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  object
 8   Order_Time       43739 non-null  object
 9   Pickup_Time      43739 non-null  object
 10  Weather          43648 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB

In [ ]:
# -------------------------
# Dataset 1 Transformation
# -------------------------

df1 = enriched_df.copy()
df2 = amazon.copy()

df1["accept_time"] = pd.to_datetime(df1["time"], format="%m-%d %H:%M:%S", errors="coerce")

# pickup datetime = accept_time itself
pickup_datetime1 = df1["time"]

df1_reshaped = pd.DataFrame({
    "order_id": df1["order_id"],
    "Date": pickup_datetime1.dt.date,
    "pickup_time": pickup_datetime1,          # full datetime ✅
    "delivery_time": pd.to_datetime(df1["delivery_time"], errors="coerce"),
    "pickup_lat": df1["accept_gps_lat"].fillna(df1["lat"]),
    "pickup_lng": df1["accept_gps_lng"].fillna(df1["lng"]),
    "drop_lat": df1["delivery_gps_lat"],
    "drop_lng": df1["delivery_gps_lng"],
    "weather": df1["Weather_Label"],
    "traffic": df1["Traffic_Label"],
    "vehicle": df1["Vehicle_Type"]
})

df1_reshaped["ETA_target"] = (
    (df1_reshaped["delivery_time"] - df1_reshaped["pickup_time"]).dt.total_seconds() / 60
)
# pickup datetime
pickup_datetime = pd.to_datetime(
    df2["Order_Date"].astype(str) + " " + df2["Order_Time"].fillna("00:00:00"),
    errors="coerce"
)

# delivery datetime = pickup + delivery_time (minutes)
delivery_datetime = pickup_datetime + pd.to_timedelta(df2["Delivery_Time"], unit="m")

# reshape df2
df2_reshaped = pd.DataFrame({
    "order_id": df2["Order_ID"],
    "Date": df2["Order_Date"],
    "pickup_time": pickup_datetime,
    "delivery_time": delivery_datetime,
    "pickup_lat": df2["Store_Latitude"],
    "pickup_lng": df2["Store_Longitude"],
    "drop_lat": df2["Drop_Latitude"],
    "drop_lng": df2["Drop_Longitude"],
   
    "traffic": df2["Traffic"],
    "vehicle": df2["Vehicle"]
})

# ETA target in minutes
df2_reshaped["ETA_target"] = (
    (df2_reshaped["delivery_time"] - df2_reshaped["pickup_time"]).dt.total_seconds() / 60.0
)

df1.info()
df2.info()
final_df = pd.concat([df1_reshaped, df2_reshaped], ignore_index=True)

print(final_df.head())
print(final_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206431 entries, 0 to 206430
Data columns (total 27 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  206431 non-null  int64
 1   region_id                 206431 non-null  int64
 2   city                      206431 non-null  object
 3   courier_id                206431 non-null  int64
 4   lng                       206431 non-null  float64
 5   lat                       206431 non-null  float64
 6   aoi_id                    206431 non-null  int64
 7   aoi_type                  206431 non-null  int64
 8   accept_time               206431 non-null  datetime64[ns]
 9   accept_gps_time           206431 non-null  object
 10  accept_gps_lng            204009 non-null  float64
 11  accept_gps_lat            204009 non-null  float64
 12  delivery_time             206431 non-null  datetime64[ns]
 13  delivery_gps_time         206431 non-null  object
 14  delivery_gps_lng          206431 non-null  float64
 15  delivery_gps_lat          206431 non-null  float64
 16  ds                        206431 non-null  int64
 17  time                      206431 non-null  datetime64[ns]
 18  relative_humidity_2m (%)  206431 non-null  int64
 19  cloud_cover_low (%)       206431 non-null  int64
 20  cloud_cover (%)           206431 non-null  int64
 21  wind_speed_10m (km/h)     206431 non-null  float64
 22  precipitation (mm)        206431 non-null  float64
 23  is_day ()                 206431 non-null  int64
 24  Weather_Label             206431 non-null  object
 25  Traffic_Label             206431 non-null  object
 26  Vehicle_Type              206431 non-null  object
dtypes: datetime64[ns](3), float64(8), int64(10), object(6)
memory usage: 42.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43685 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  object
 8   Order_Time       43739 non-null  object
 9   Pickup_Time      43739 non-null  object
 10  Weather          43648 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB
  order_id        Date         pickup_time       delivery_time  pickup_lat  \
0  3081487  2023-05-01 2023-05-01 08:00:00 2023-05-01 08:16:00    37.15427
1  3994340  2023-05-01 2023-05-01 08:00:00 2023-05-01 08:26:00    37.15428
2  4398242  2023-05-01 2023-05-01 08:00:00 2023-05-01 08:35:00    37.15422
3  2763441  2023-05-01 2023-05-01 08:00:00 2023-05-01 08:37:00    37.15408
4  2527977  2023-05-01 2023-05-01 08:00:00 2023-05-01 08:40:00    37.15420

   pickup_lng  drop_lat   drop_lng     weather traffic     vehicle  ETA_target
0   119.94929  37.16964  119.98635  Sandstorms    High         van        16.0
1   119.94932  37.16943  119.94403  Sandstorms    High         car        26.0
2   119.94935  37.17635  119.93610  Sandstorms    High         car        35.0
3   119.94923  37.17042  119.94819  Sandstorms    High  motorcycle        37.0
4   119.94937  37.17375  119.94217  Sandstorms    High         van        40.0
(250170, 12)

In [71]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250170 entries, 0 to 250169
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       250170 non-null  object
 1   Date           250170 non-null  object
 2   pickup_time    250079 non-null  datetime64[ns]
 3   delivery_time  250079 non-null  datetime64[ns]
 4   pickup_lat     250170 non-null  float64
 5   pickup_lng     250170 non-null  float64
 6   drop_lat       250170 non-null  float64
 7   drop_lng       250170 non-null  float64
 8   weather        250079 non-null  object
 9   traffic        250170 non-null  object
 10  vehicle        250170 non-null  object
 11  ETA_target     250079 non-null  float64
dtypes: datetime64[ns](2), float64(5), object(5)
memory usage: 22.9+ MB

In [72]:
final_df.head()

,order_id,Date,pickup_time,delivery_time,pickup_lat,pickup_lng,drop_lat,drop_lng,weather,traffic,vehicle,ETA_target
0,3081487,2023-05-01,2023-05-01 08:00:00,2023-05-01 08:16:00,37.15427,119.94929,37.16964,119.98635,Sandstorms,High,van,16.0
1,3994340,2023-05-01,2023-05-01 08:00:00,2023-05-01 08:26:00,37.15428,119.94932,37.16943,119.94403,Sandstorms,High,car,26.0
2,4398242,2023-05-01,2023-05-01 08:00:00,2023-05-01 08:35:00,37.15422,119.94935,37.17635,119.93610,Sandstorms,High,car,35.0
3,2763441,2023-05-01,2023-05-01 08:00:00,2023-05-01 08:37:00,37.15408,119.94923,37.17042,119.94819,Sandstorms,High,motorcycle,37.0
4,2527977,2023-05-01,2023-05-01 08:00:00,2023-05-01 08:40:00,37.15420,119.94937,37.17375,119.94217,Sandstorms,High,van,40.0